<ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="sliderOne">
    	<ion-card>
		  <img src="assets/img/report.svg" />
		  <ion-card-content>
		    <ion-card-title>
		      Welcome...
		      </ion-card-title>
		    <p>
		      The most popular industrial group ever, and largely
		      responsible for bringing the music to a mass audience.
		    </p>
		  </ion-card-content>
		</ion-card>
    </ion-slide>
    <ion-slide class="sliderTwo">
    	<ion-card class="cardTwo">
		  <img src="assets/img/message.svg" />
		  <ion-card-content>
		    <ion-card-title>
		      Welcome...
		      </ion-card-title>
		    <p>
		      The most popular industrial group ever, and largely
		      responsible for bringing the music to a mass audience.
		    </p>
		  </ion-card-content>
		</ion-card>
    </ion-slide>
    <ion-slide class="sliderThree">
        <ion-card class="cardThree">
		  <img src="assets/img/feedback.svg" />
		  <ion-card-content>
		    <ion-card-title>
		      Learning Today...Leading Tomorrow
		      </ion-card-title>
		    <p>
		      The most popular industrial group ever, and largely
		      responsible for bringing the music to a mass audience.
		    </p>
		    <ion-row no-padding>
		      <ion-col text-center>
		          <app-start></app-start>
		      </ion-col>
		    </ion-row>
		  </ion-card-content>
		</ion-card>
    </ion-slide>
</ion-slides>