ion-slides {
	height: 100%;
	--bullet-background-active: grey;

	ion-slide {
		display: block;	

		ion-card {
			height: 100%;
		}

		ion-card-content {
			position: absolute;
		    top: 52%;
		    width: 100%;
		}

	}
	
}

.sliderOne {
	background: #fff;
	
}
.sliderTwo {
	background: #98FB98;
	
}
.sliderThree {
	background: #98FB98;
	
}

.cardOne {
	--background: #fff;
}
.cardTwo {
	--background: #98FB98;
}
.cardThree {
	--background: #2d29;
}