<ion-header>
  <ion-toolbar>
    <ion-title><h2><ion-icon name="send-outline"></ion-icon>&nbsp;&nbsp;Send</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content justify-content-center display-flex flex-direction-column>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="6" offsetLg="3" size-md="6" offsetMd="3" size-sm="6" offsetSm="3" size-xs="11" offsetXs="1" no-padding>
			<h4>Send us a report on M & E platform</h4>
			<form name="form" (ngSubmit)="f.form.valid && sendReportAction()" #f="ngForm" novalidate>
          	<ion-list>
          		<ion-item >
					<ion-input type="text" name="userID" [(ngModel)]="postData.userID"></ion-input>
				</ion-item>

	 {{ f.value | json }} 
          		<ion-item class="catItem">
          		<ion-radio-group required="true" id="cat" name="cat" [(ngModel)]="postData.cat" #cat="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cat.invalid }" ionChange="onChange($event)">
				    <ion-list-header>
				      <ion-label class="question">Who is making this report?</ion-label>
				    </ion-list-header>
				    <ion-item class="It1" lines="none">
				      <ion-label>Parent/Guadians</ion-label>
				      <ion-radio slot="start" value="1"></ion-radio>
				    </ion-item>
				    <ion-item class="It2" lines="none">
				      <ion-label>Student</ion-label>
				      <ion-radio slot="start" value="2"></ion-radio>
				    </ion-item>
			  	</ion-radio-group>
				</ion-item>
				<ion-text color="danger" *ngIf="cat.invalid && (cat.dirty || cat.touched) && f.submitted" class="alert alert-danger">
                  <p *ngIf="cat.errors.required">
                    Field is required.
                  </p>
                </ion-text>
				
          		<ion-item class="schItem">
          			<ion-label position="floating">School Code*</ion-label>
          			<ion-input type="text" required="true" id="schlCode" name="schlCode"  [(ngModel)]="postData.schlCode" #schlCode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && schlCode.invalid }" (keyup)="fetchSchData($event);"></ion-input>
          		</ion-item> 
          		<ion-text color="danger" *ngIf="schlCode.invalid && (schlCode.dirty || schlCode.touched) && f.submitted" class="alert alert-danger">
                  <p *ngIf="schlCode.errors.required">
                    Field is required.
                  </p>
                </ion-text>  

          		<ion-item *ngFor="let school of schData | slice:0:1">
          			<ion-input type="text" name="cde" [(ngModel)]="school.NAME" disabled></ion-input>
          		</ion-item>       	

          		<ion-item class="reportItem">
          			<ion-textarea name="reportTxt" id="reportTxt" [(ngModel)]="postData.reportTxt" maxlength="250" rows="6" cols="20" placeholder="Enter your report here..." required="true" #reportTxt="ngModel" [ngClass]="{ 'is-invalid': f.submitted && reportTxt.invalid }"></ion-textarea>
          		</ion-item>
          		<ion-text color="danger" *ngIf="reportTxt.invalid && (reportTxt.dirty || reportTxt.touched) && f.submitted" class="alert alert-danger">
                  <p *ngIf="reportTxt.errors.required">
                    Field is required.
                  </p>
                  <p *ngIf="reportTxt.errors.maxlength">
                  </p>
                </ion-text>
								
          		<ion-button type="submit" size="default" color="success" expand="block" shape="round"><ion-icon name="send-outline"></ion-icon>&nbsp;Send</ion-button>

          	</ion-list>
          </form>
			</ion-col>
		</ion-row>
	</ion-grid>	 
</ion-content>
