<!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="social-fab">
  	<ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button href="https://www.facebook.com/boblewisd"><ion-icon name="logo-facebook" color="primary"></ion-icon></ion-fab-button>
    <ion-fab-button href="https://www.twitter.com/uzoma_jnr"><ion-icon name="logo-twitter" color="secondary"></ion-icon></ion-fab-button>
    <ion-fab-button href="https://lewisuzoma.github.io"><ion-icon name="logo-github" color="dark"></ion-icon></ion-fab-button>
    <ion-fab-button href="mailto:boblewisu@gmail.com"><ion-icon name="mail" color="dark"></ion-icon></ion-fab-button>
  </ion-fab-list>

</ion-fab>
