.social-fab {
	--background: var(--ion-color-success);
	--background-focused: var(--ion-color-success);
	--background-hover: var(--ion-color-success);
	--background-activated: var(--ion-color-success);
}

ion-fab {
	margin-bottom: 100px;
	margin-right: 20px;
}