/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

 $white: #FFFFFF;
  $white-a: darken($white, 3%);
  $white-b: darken($white, 6%);
  $white-c: darken($white, 12%);
  $white-d: darken($white, 24%);

  $black: rgba(#000000, .8);
  $black-a: lighten($black, 10%);
  $black-b: lighten($black, 20%);
  $black-c: lighten($black, 40%);
  $black-d: lighten($black, 60%);

  $theme-color-1: $black-a;
  $theme-color-2: #00e9d5;
  $theme-color-3: $black-b;
  $theme-color-4: #ae75e7;

  $colors: (
    primary:    #387ef5,
    secondary:  #26bf7e,
    danger:     #ed4f50,
    light:      #f4f4f4,
    dark:       $black-b,
    ask:       $theme-color-4,
    answer:       $theme-color-2,
    header:(
      base: $black-a,
      contrast: $white-b
    ),
    background:(
      base: $white-b,
      contrast: $black-a
    )
  );

  ion-toolbar {
    --ion-background-color: var(--ion-color-success);
  }