<!-- <ion-content>
    <ion-grid>
        <ion-row justify-content-center display-flex flex-direction-column>
            <ion-col size-md="12">
                <ion-card >
                    <ion-item color="success">
                        <ion-label class="header" text-center>Log Me In!</ion-label>
                    </ion-item>
                    <ion-card-content>
                        
                        <form></form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> -->

<ion-content justify-content-center display-flex flex-direction-column>
    <app-slides></app-slides>
    <ion-button expand="block" class="btn" (click)="swipeNext()">NEXT</ion-button>
    <app-fab></app-fab>
</ion-content>



<!-- <ion-content padding>
    <ion-grid style="height: 100%">
        <ion-row *ngIf="loader" justify-content-center align-items-center style="height: 100%; flex-direction: column">
            <ion-spinner name="ios"></ion-spinner>
            Cargando centros...
        </ion-row>
        <ion-row *ngIf="!loader" style="height: 100%; flex-direction: column">
            <p>List item 1</p>
            <p>List item 2</p>
            <p>List item 3</p>
            <p>List item 4</p>
            <p>List item 5</p>
            <p>List item 6</p>
        </ion-row>
    </ion-grid>
</ion-content> -->